<div>
    <%= form_for @project, :html => {:class => "form-horizontal center"} do |f| %>
        <div class="container form-group">
            <%= f.label :name, :class => "control-label" %>
            <div>
                <%= f.text_field :name, :class => "form-control" %>
            </div>
        </div>

        <div class="container form-group">
            <%= f.label :contractor, :class => "control-label"%>
            <div>
                <%= f.text_field :contractor, :class => "form-control" %>
            </div>
        </div>

        <div class="container form-group">
            <%= f.label :description, :class => "control-label"%>
            <div>
                 <%= f.text_field :description, :class => "form-control" %>
            </div>
        </div>

        <div class = "container text-center">
            <%= f.submit "Submit", class: "btn btn-lg btn-dark btn-block" %>            
        </div>
    <% end %>
</div>