<h1> <%= @project.name %> </h1>

<h3> Project Details: </h3>

<li> Contractor: <%= @project.contractor %>  </li>
<li> Description: <%= @project.description %> </li>
<li> Date: <%= @project.date %></li>

<p> <%= link_to 'Edit Project', edit_project_path(@project) %> </p>
<p> <%= link_to 'Add New Project', new_project_task_path(@project) %> </p>
<br>
  <p><%= link_to 'Go back', projects_path %></p>