<!DOCTYPE html>
<html>
  <head>
    <title>HRB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
    <div>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Add New Project", new_project_path, class: "nav", class: 'btn btn-light btn-sm'%>
        </li>

        <li class="nav-item">
          <%= link_to "All Projects", projects_path, class: "nav", class: 'btn btn-light btn-sm'%>      
        </li>

        <li class="nav-item">
          <%= link_to "Add New Task", new_task_path, class: "nav", class: 'btn btn-light btn-sm'%>
        </li>

        <li class="nav-item">
          <%= link_to "All Task", tasks_path, class: "nav", class: 'btn btn-light btn-sm'%>
        </li>

        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'btn btn-light btn-sm'%>
        </li>

        <div  class="nav-item">  
          <%= button_to "Logout", logout_path, method: :delete, class: 'btn btn-light btn-sm'%>
        </div>

        <% else %> 

        <li class="nav-item">
          <%= link_to "Log In", login_path, class: 'btn btn-primary' %>
        </li>  

         <li class="nav-item">
          <%= link_to "Log In With Google", '/auth/google_oauth2', class: 'btn btn-primary' %> 
        </li> 

        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, class: 'btn btn-primary' %>
        </li> 
      <% end %>
    </div>
   
  
  <body>
    <%= yield %>
  </body>
</html>
